.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  .card {
    width: 400px;
    height: 550px;
    border: 1px solid rgb(28, 137, 154);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;

    h1 {
      text-align: center;
      border: 1px solid rgb(159, 149, 149);
      width: 350px;
      border-radius: 20px;
      box-shadow: 0px 0px 50px 6px rgb(159, 149, 149);
      color: blueviolet;
    }

    p {
      font-size: 20px;
      color: rgb(79, 178, 217);
    }

    .text {
      text-decoration: line-through;
    }
    img {
      width: 100%;
      width: 300px;
      border-radius: 60px;
    }
    button {
      width: 130px;
      height: 40px;
      background-color: rgb(142, 204, 235);
      border: none;
      border-radius: 20px;
      box-shadow: 0px 0px 28px 3px rgb(156, 189, 197);
    }
  }
}
